.foto-produto {
    height: 440px;
    width: 440px;
}

#foto-vendedor{
    font-size: 7em;
    display: flex;
    align-items: center;
    justify-content: center;
}

#foto-coment{
    font-size: 2em;
    margin: 5px;
}

#avaliacao-coment{
    margin: 2px;
}

i{
    color: #03658C
}

section#produto {
    margin-top: 135px;
}

.tudo {
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.30);
}