@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Baloo 2', cursive;
  background-color: #f1f1f1;
}

h3 {
  text-transform: uppercase;
  color: grey;
  text-align: center;
}

/* Inicio Header */
.header-content {
  height: 100;
}

.header-content-top {
  height: 70px;
  background-color: white;
  padding-top: 5px;
}

.header-content-top a {
  font-size: 2em;
  color: #03658C;
  text-transform: uppercase;
}

.header-content-bottom {
  height: 30px;
  background-color: #03658C;
}

.logo-azul {
  height: 60px;
  padding-right: 16px;
}

 .nav-link {
  color: #fff;
  height: 30px;
  font-size: 1rem;
}

.nav-link.active {
  color: #f2a0a0;
  text-shadow: 1px 1px 10px white;
  border-bottom: 3px solid #f2a0a0;
}

.nav-link:hover{
  color: #f2a0a0;
  text-shadow: 1px 1px 10px white;
}

.input-group input{
  width: 80%;
  border: 1px solid #03658C;
  border-radius: 15px 0 0 15px;

}

.input-group {
  width: auto;
}

.input-group span{
  border: 1px solid #03658C;
  border-left: transparent;
  border-radius: 0 15px 15px 0;
  background-color: white;
}

.icons-header {
  color: white;
}

/* Fim Header */

/* Inicio Footer */
.footer{
  height: 30px;
  background-color: #03658C;
  color: #fff;
}

.img-footer {
  height: 30px;
}

.btn-site{
  background-color: #f2a0a0;
  color:white;
  border-radius: 16px;
  
}
/* Fim Footer */
