@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Baloo 2', cursive;
  background-color: #f1f1f1;
}

h3 {
  text-transform: uppercase;
  color: grey;
  text-align: center;
}

/* header gabarito */
.header-content {
  height: 100;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.header-content-top {
  height: 60px;
  background-color: white;
  padding-top: 5px;
}

.header-content-top a {
  font-size: 2em;
  color: #03658C;
  text-decoration: none;
  text-transform: uppercase;
}

.header-content-bottom {
  height: 40px;
  background-color: #03658C;
  justify-content: space-evenly;
}

.logo-azul {
  height: 50px;
  padding-right: 16px;
}

.hct-1 {
  text-align: right;
}

.md-48{
  font-size: 48px !important;
  color: #03658C;
  padding-right: 16px;
 }

 .header-content-bottom{
   align-items: center;
 }
 .nav-link {
  color: #fff;
  height: 40px;
  font-size: x-large;
}

.nav-link.active {
  color: #f2a0a0;
  border-bottom: 5px solid #f2a0a0;
}

.nav-link:hover{
  color: #f2a0a0;
}

.input-group input{
  width: 80%;
  text-align: right;
  border: transparent;
  border-radius: 15px 0 0 15px;

}

.input-group {
  width: auto;
  justify-content: center;
}

.input-group span{
  border: transparent;
  border-radius: 0 15px 15px 0;
  background-color: white;
}

.footer{
  margin-top: 40px;  
  display: hidden;
}

.img-footer {
  height: 40px;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content i{
  margin: 0 10px;
  color: #fff;
  font-size: 1.5em;
}
/* ------------------- */

.btn-site{
  background-color: #f2a0a0;
  color:white;
  border-radius: 16px;
  
}

.botoes {
  display: flex;
  justify-content: space-between;
}

.bg-blue {
  background-color: #03658C;
  color: #fff;
}