@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Baloo 2', cursive;
  background-color: #f1f1f1;
  overflow-y:scroll;
  position: relative;
  padding-bottom: 70px;
}

h3 {
  text-transform: uppercase;
  color: grey;
  text-align: center;
}

.bg-blue {
  background-color: #03658C;
}
.text-blue {
  color: #03658C;
}

/* Inicio Header */

.navbar-brand {
  font-size: 2.5rem;
}

.nav-link:hover {
  text-shadow: 1px 1px 10px white;
  border-bottom: 2px solid #f2a0a0;
}

.nav-link.active {
  text-shadow: 1px 1px 10px white;
  border-bottom: 5px solid #f2a0a0;
}
.search-group {
  border: 1px solid #03658C;
  border-radius: 2rem;
}
.search-group #search-button {
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent; 
}
.search-group #search {
  border: 0;
  background-color: transparent; 
  outline: none !important;
  box-shadow: none !important;
}

.profile-picture {
  border-radius: 2rem;
}

.shopping-cart {
  font-size: 35px !important;
}

/* Fim Header */

/* Inicio Footer */

.btn-site{
  background-color: #f2a0a0;
  color:white;
  border-radius: 16px;
}
/* Fim Footer */
