<section id="register" class="mt-5">
    <div class="container py-1 pr-1">
        <div class="row">
            <div class="mx-auto">
                <label for="registerButton" class="h5 mb-0 mr-3 text-white">Não é cadastrado?</label>
                <a id="registerButton" class="nav-link nav-item text-decoration-none btn-site"
                    href="/cadastro">Cadastre-se</a>
            </div>
            <div class="mx-auto">
                <label for="registerButton" class="h5 mb-0 ml-5 mr-3 text-white">Já é cadastrado?</label>
                <a id="registerButton" class="nav-link nav-item text-decoration-none btn-site" href="/login">Logar</a>
            </div>
        </div>
    </div><!-- container -->
</section><!-- register -->