<section id="register" class="mt-5">
    <div class="container py-1 pr-1">
        <div class="row">
            <label for="registerButton" class="h5 mb-0 mr-3 text-white">Cadastre-se</label>
            <a id="registerButton" class="nav-link nav-item text-decoration-none btn-site" href="/cadastro">Cadastrar</a>
        </div>
    </div><!-- container -->
</section><!-- register -->