<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/PET-LIVRE-favicon.ico" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="/stylesheets/fontawesome/css/all.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/<%=css%>.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title><%=title%></title>
</head>

<body>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-sm bg-white text-dark">
            <div class="container">
                <div class="text-blue mb-2 logo ">
                    <img src="/images/logoAzul.svg" height="50px" class="logo-azul" alt="Logo Pet Livre">
                    <a href="/" class="navbar-brand text-decoration-none text-reset text-uppercase py-0">pet livre</a>
                </div>
                <a href="/login"><button type="button" class="btn btn-site botao">Entrar</button></a>
                <a href="/cadastro"><button type="button" class="btn btn-site botao">Cadastre-se</button></a>

            </div><!-- container -->
        </nav><!--top nav-->

        <nav class="navbar navbar-expand-sm bg-blue text-white stick-top py-0">
            <div class="container">
                <div class="mx-auto">
                    <span class="h4 align-self-center">Bem Vindo!</span>
                </div><!-- perfil -->
            </div><!-- container -->
        </nav><!-- bottom nav -->
    </header>