<section id="newsletter" class="mb-3">
    <div class="container py-1 pr-1">
        <form action="" class="">
            <div class="input-group d-flex justify-content-center align-items-center">
                <label for="newsShop" class="h5 mb-0 mr-3 text-white">Quer saber as novidades?</label>
                <div class="form-inline newsShop-group bg-white">
                    <input id="newsShop" type="text" class="form-control py-0" placeholder="Se inscreva...">
                    <div class="input-group-append">
                        <button id="newsShop-button"class="btn py-0 text-blue" type="button"> <strong>Enviar</strong> </button>
                    </div><!-- newsShop-group -->
                </div><!-- newsletterShop -->
            </div><!-- input-group -->
        </form>
    </div><!-- container -->
</section><!-- newsletterShop -->