<%- include('./partials/header') %>

<section class="first">
    <div class="container divInfo">
        <nav class="navbar navbar-expand-lg navbar-light bg-light d-md-none container opcoes">
            <a class="active-option px-3" href="#">Opções</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-chevron-down"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/usuario"><i class="fas fa-user px-1"></i>Dados Cadastrais</a>
                    </li>
                    <li class="nav-item">
                        <a href="/usuario/compras"><i class="fas fa-shopping-bag px-1"></i>Minhas
                            Compras</a>
                    </li>
                    <li class="nav-item">
                        <a href="/usuario/vendas"><i class="fas fa-clipboard-check px-1"></i>Minhas Vendas</a>
                    </li>
                    <li class="nav-item">
                        <a href="/usuario/vender"  class="active"><i class="fas fa-handshake px-1"></i>Vender</a>
                    </li>
                    <li class="nav-item">
                        <a href="/usuario/doar"><i class="fas fa-paw px-1"></i>Doar</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="row container">
            <div class="col-md-3 d-none d-md-block" id="links">
                <a href="/usuario" class="text-blue"><i class="fas fa-user px-1"></i>Dados Cadastrais</a>
                <hr>
                <a href="/usuario/compras" class="text-blue"><i class="fas fa-shopping-bag px-1"></i>Minhas Compras</a>
                <hr>
                <a href="/usuario/vendas" class="text-blue"><i class="fas fa-clipboard-check px-1"></i>Minhas Vendas</a>
                <hr>
                <a href="/usuario/vender" class="active"><i class="fas fa-handshake px-1"></i>Vender</a>
                <hr>
                <a href="/usuario/doar" class="text-blue"><i class="fas fa-paw px-1"></i>Doar</a>
                <hr>
            </div>
            <div class="col-md-9">
                <div class="h3 text-blue text-center mb-3">Cadastro de Produto</div>
                <div class="row">
                    <div class="col border-right">
                        <div class="d-flex justify-content-center">
                            <span class="h3 mb-5 text-blue">Foto</span>
                        </div>
                        <div class="d-flex justify-content-center">
                            <img src="/images/produtos/default.png" alt="Foto/Logo" width="200px" height="200px"
                                class="image-preview mb-5" id="logo">
                        </div>
                        <div class="d-flex justify-content-center">
                            <label for="imagem" class="btn btn-site">
                                Selecione Imagem
                                <input class="form-control d-none" type="file" id="imagem" name="imagem">
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <form action="" method="post">
                            <div id="cadastro-dados">
                                <div class="form-group mb-4">
                                    <input id="nomePet" class="form-control input-decoration" type="text" name="nomePet"
                                        placeholder="Nome do Produto">
                                </div>
                                <div class="form-group mb-4">
                                    <textarea name="descricao" id="descricao" class="form-control input-decoration" rows="10"
                                        placeholder="Descrição" type="text"></textarea>
                                </div>
                                <div class="form-group mb-4 mw-75">
                                    <input id="quantidade" class="form-control w-25 input-decoration" type="number" name="quantidade"
                                        placeholder="Qtd" columns="4">
                                </div>
                                <div class="form-group">
                                    <select class="form-control input-decoration" id="exampleFormControlSelect1">
                                        <option>Categoria</option>
                                        <option>Rações</option>
                                        <option>Brinquedos</option>
                                        <option>Farmácia</option>
                                        <option>Higiene e Limpeza</option>
                                    </select>
                                </div>
                                <div class="botoes" id="botaocadastro">
                                    <button class="btn btn-site mr-5 mb-4 mt-3">Adicionar para adoção</button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</form>
</div>
</div>
</section>

<%- include('./partials/footer') %>