<%- include('./partials/header', {active: title}) %>
    
    <section id="catAdocao" class="container">
        <div class="row">
            <div class="col-md-2 d-none d-md-block filtros">
                <ul>
                    <div>
                        <li>Categoria 1</li>
                        <div class="opcao"><input type="checkbox" name="" id="">Opção 1</div>
                        <div class="opcao"><input type="checkbox" name="" id="">Opção 2</div>
                        <div class="opcao"><input type="checkbox" name="" id="">Opção 3</div>
                        <div class="opcao"><input type="checkbox" name="" id="">Opção 4</div>
                    </div>
                    <div>
                        <li>Categoria 2</li>
                        <div class="opcao"><input type="checkbox" name="" id="">Opção 1</div>
                        <div class="opcao"><input type="checkbox" name="" id="">Opção 2</div>
                        <div class="opcao"><input type="checkbox" name="" id="">Opção 3</div>
                        <div class="opcao"><input type="checkbox" name="" id="">Opção 4</div>
                    </div>
                    <div>
                        <li>Categoria 3</li>
                        <div class="opcao"><input type="checkbox" name="" id="">Opção 1</div>
                        <div class="opcao"><input type="checkbox" name="" id="">Opção 2</div>
                        <div class="opcao"><input type="checkbox" name="" id="">Opção 3</div>
                        <div class="opcao"><input type="checkbox" name="" id="">Opção 4</div>
                    </div>
                    <div>
                        <li>Categoria 4</li>
                        <div class="opcao"><input type="checkbox" name="" id="">Opção 1</div>
                        <div class="opcao"><input type="checkbox" name="" id="">Opção 2</div>
                        <div class="opcao"><input type="checkbox" name="" id="">Opção 3</div>
                        <div class="opcao"><input type="checkbox" name="" id="">Opção 4</div>
                    </div>
                </ul>
            </div>
            <div class="col-md-10 col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-12 justify-content-between mb-4">
                            <div class="card py-1">
                                <img src="images/ativo-9.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Pet</h5>
                                    <p class="card-text">Descricao Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit.</p>
                                    <a href="detalheAdocao.html" class="btn btn-site">Adotar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12 justify-content-between mb-4">
                            <div class="card py-1">
                                <img src="images/ativo-9.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Pet</h5>
                                    <p class="card-text">Descricao Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit.</p>
                                    <a href="detalheAdocao.html" class="btn btn-site">Adotar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12 justify-content-between mb-4">
                            <div class="card py-1">
                                <img src="images/ativo-9.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Pet</h5>
                                    <p class="card-text">Descricao Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit.</p>
                                    <a href="detalheAdocao.html" class="btn btn-site">Adotar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12 justify-content-between mb-4">
                            <div class="card py-1">
                                <img src="images/ativo-9.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Pet</h5>
                                    <p class="card-text">Descricao Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit.</p>
                                    <a href="detalheAdocao.html" class="btn btn-site">Adotar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-12 justify-content-between mb-4">
                            <div class="card py-1">
                                <img src="images/ativo-9.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Pet</h5>
                                    <p class="card-text">Descricao Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit.</p>
                                    <a href="detalheAdocao.html" class="btn btn-site">Adotar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12 justify-content-between mb-4">
                            <div class="card py-1">
                                <img src="images/ativo-9.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Pet</h5>
                                    <p class="card-text">Descricao Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit.</p>
                                    <a href="detalheAdocao.html" class="btn btn-site">Adotar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12 justify-content-between mb-4">
                            <div class="card py-1">
                                <img src="images/ativo-9.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Pet</h5>
                                    <p class="card-text">Descricao Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit.</p>
                                    <a href="detalheAdocao.html" class="btn btn-site">Adotar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12 justify-content-between mb-4">
                            <div class="card py-1">
                                <img src="images/ativo-9.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Pet</h5>
                                    <p class="card-text">Descricao Lorem ipsum dolor sit amet consectetur adipisicing
                                        elit.</p>
                                    <a href="detalheAdocao.html" class="btn btn-site">Adotar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<%- include('./partials/footer') %>