<%- include('./partials/header', {active: title}) %>
    
    <section id="catLoja" class="container">
        <div class="row">
            <div class="col-md-2 d-none d-md-block filtros">
                <ul>
                    <div>
                        <li>Categorias</li>
                        <% for ( let categoria of categorias ) {%>
                        <div class="opcao"><input type="checkbox" name="" id=""><%=categoria.categoria%></div>
                        <%}%>
                    </div>
                    <div>
                        <li>Preço</li>
                        <div class="opcao"><input type="checkbox" name="" id="">Até R$200</div>
                        <div class="opcao"><input type="checkbox" name="" id="">de R$200 a R$500</div>
                        <div class="opcao"><input type="checkbox" name="" id="">Mais de R$500</div>
                    </div>
                </ul>
            </div>
            <div class="col-md-10 col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-12 justify-content-between mb-4">
                            <div class="card py-1">
                                <img src="/images/04-pets-novidades.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Nome do Produto</h5>
                                    <p class="card-text">R$ 100,00</p>
                                    <a href="produto.html" class="btn btn-site">Comprar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12 justify-content-between mb-4">
                            <div class="card py-1">
                                <img src="/images/04-pets-novidades.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">R$ 100,00</p>
                                    <a href="produto.html" class="btn btn-site">Comprar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12 justify-content-between mb-4">
                            <div class="card py-1">
                                <img src="/images/04-pets-novidades.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">R$ 100,00</p>
                                    <a href="produto.html" class="btn btn-site">Comprar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12 justify-content-between mb-4">
                            <div class="card py-1">
                                <img src="/images/04-pets-novidades.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">R$ 100,00</p>
                                    <a href="produto.html" class="btn btn-site">Comprar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-12 justify-content-between mb-4">
                            <div class="card py-1">
                                <img src="/images/04-pets-novidades.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">R$ 100,00</p>
                                    <a href="produto.html" class="btn btn-site">Comprar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12 justify-content-between mb-4">
                            <div class="card py-1">
                                <img src="/images/04-pets-novidades.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Nome do Produto</h5>
                                    <p class="card-text">R$ 100,00</p>
                                    <a href="produto.html" class="btn btn-site">Comprar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12 justify-content-between mb-4">
                            <div class="card py-1">
                                <img src="/images/04-pets-novidades.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">R$ 100,00</p>
                                    <a href="produto.html" class="btn btn-site">Comprar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-12 justify-content-between mb-4">
                            <div class="card py-1">
                                <img src="/images/04-pets-novidades.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">R$ 100,00</p>
                                    <a href="produto.html" class="btn btn-site">Comprar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('./partials/footer') %>