<%- include('./partials/header', {active: title}) %>
<section class="container first">
    <div class="row ">
        <div class="col-12 d-flex align-items-center justify-content-center text-center">
            <h1 class="text-blue">Pedido Efetuado com Sucesso</h1>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-center">
            <a href="/usuario/compras"><span>Acompanhe seus pedidos</span></a>
        </div>
    </div>
    <%- include('./partials/secParaAdocao') %> 
</section>
<%- include('./partials/footer') %>