<%- include('./partials/header', {active: title}) %>
<section class="container first">
    <div class="row ">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <h1>Pedido Efetuado com Sucesso</h1>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-center">
            <a href="/compras"><span>Acompanhe seus pedidos</span></a>
        </div>
    </div>
</section>
<%- include('./partials/footer') %>