:root {
  --blue-color: #03658C;
  --pink-color: #f2a0a0;
}

* {
  box-sizing: border-box;
}

#botaocadastro {
  display: flex;
  justify-content: center;
}

#logocadastro {
  display: flex;
  justify-content: center;
}

#logo {
  border-radius: 15rem;
}

.image-preview {
  width: 200px;
  height: 200px;
}

#canvas {
  width: auto;
  height: 45vh;
  display: flex;
  justify-content: center;
}

.modal-dialog {
  max-width: 350px;
}

#canvas img {
  width: 100%;
}