#botaocadastro {
    display: flex;
    justify-content: center;
  }
  
  #logocadastro {
    display: flex;
    justify-content: center;
  }
  
  #logo{
    border-radius: 15rem;
  }

section {
    margin-top: 100px;
}