/* mt = margin top */
* {
    box-sizing: border-box;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: #f2a0a0;
}

h1 {
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 17px;
}

.imgIcone {
    width: 30px;
    padding-right: 8px;
}

.divInfo {
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.30);
    padding: 20px 0px 15px 0px;
    margin-bottom: 50px;
}

.table {
    padding-right: 30px;
}

#links {
    padding: 25px;
    border-right: grey solid 1px;
}

#iconeUser {
    font-size: 100px;
    color: #03658c;
}

.active, li.active {
    color: #f2a0a0;
}

.ajuste {
    background-color: black;
}
/* Hover na imagem do usuario */