:root{
  --blue-color: #03658C;
  --pink-color:#f2a0a0;
}

* {
  box-sizing: border-box;
}

#botaocadastro {
  display: flex;
  justify-content: center;
}

#logocadastro {
  display: flex;
  justify-content: center;
}

#logo {
  border-radius: 15rem;
}

.image-preview{
  width: 200px;
  height: 200px;
}

#modal-body {
  /* display: flex;
  justify-content: center; */
}
 
.modal-body-content {
  /* border: 2px solid var(--blue-color); */
  padding: 0;
}

#canvas {
  width: auto;
  max-width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
}