input {
    width: 45px;
    font-size: 1em;
    text-align: center;
}

.valor {
    width: 100px;
}

@media (max-width: 576px){
.list-group-item {
    padding-left: 0;
    padding-right: 0;
}
div.preco{
    height: 50%;
}
}