ul {
    padding: 10px;
}


div>li {
    list-style: none;
    text-align: left;
    padding-bottom: 5px;
}

ul>div {
    padding-left: 0px;
    padding-bottom: 2px;
}

.opcao {
    padding-left: 20px;
}

.filtros {
    height: fit-content;
}

section#catLoja,
section#catAdocao {
    margin-top: 135px;
}

input {
    margin-right: 4px;
}