#imagemGrande {
    height: 440px;
    width: 440px;
}

.btn-Adotar {
    margin-top: 40px;
    text-align: center;
}

h1 {
    font-size: 25px;
}

#campoGeral {
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.30);
}

#campoFoto {
    padding: 17px 17px;
}

#iconeUser {
    font-size: 70px;
    color: black;
}


#campoDescri {
    padding-top: 17px;
}

.infoD {
    font-size: 17px;
    margin-bottom: 4px;
    margin-top: 5px;
}

#infoDoador {
    padding-bottom: 15px;
}