section#navCategorias {
    margin-top: 109px;
}

section a.nav-link:hover {
    background-color: #f2a0a0;
    color: white !important;
}

section#deals {
    margin-top: 16px;
}

.categoriaLink {
    width: 160px;
    height: 160px;
    background-color: white;
    padding: 12px;
    text-align: center;
    color: #03658C;
    font-size: 18px;
    margin: 1px;
}

.categoriaLink p {
    line-height: 19px;
}

.icon {
    font-size: 48px;
    margin: 25px auto 0px;
}

.categoriaLink:hover {
    text-decoration: none;
    color: white;
    background-color: #03658C;
    /* box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); */
}

.carousel {
    display: flex;
}

.card {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.30);
}

.card-img-top {
    width: 100%;
    margin: 0;
}

#imagemProduto {
    width: 100%;
    margin: 0;
}

.carousel-control-prev {
    height: 50px;
    width: 50px;
    border-radius: 30rem;
    align-self: center;
    top: auto;
    bottom: auto;
}

.carousel-control-next {
    height: 50px;
    width: 50px;
    border-radius: 30rem;
    align-self: center;
    top: auto;
    bottom: auto;
}

.newsShop-group {
    border: 1px solid #03658C;
    border-radius: 2rem;
}

.newsShop-group #newsShop-button {
    outline: none !important;
    box-shadow: none !important;
    background-color: transparent;
}

.newsShop-group #newsShop {
    border: 0;
    background-color: transparent;
    outline: none !important;
    box-shadow: none !important;
}

@media (max-width: 1024px) {
    .banner {
        height: 350px
    }

    .banner img {
        width: 100%;
        height: 350px;
    }
}

@media (max-width: 770px) {
    .col-2 {
        flex: auto;
        max-width: 50%
    }

    .banner {
        height: 280px
    }

    .banner img {
        width: 100%;
        height: 280px;
    }

    h2 {
        font-size: 1.8rem;
    }

    .carousel {
        height: 350px;
    }

    .carousel-inner {
        height: 350px;
    }

    .hidden {
        visibility: hidden;
    }

    .card-img-top {
        width: 90%;
        margin: 5px auto;
    }
}

@media (max-width: 641px) {
    section#navCategorias {
        margin-top: 108px;
    }

    .col-2 {
        flex: auto;
        max-width: 50%
    }

    .banner {
        height: 220px
    }

    .banner img {
        width: 100%;
        height: 220px;
    }

    h2 {
        font-size: 1.3rem;
    }

    .carousel {
        height: 300px;
    }

    .carousel-inner {
        height: 300px;
    }

    .hidden {
        visibility: hidden;
    }

    .card-img-top {
        width: 90%;
        margin: 5px auto;
    }
}

@media (max-width: 575px) {
    section#navCategorias {
        margin-top: 151px;
    }

    section#newsletter {
        display: none;
    }
}

@media (max-width: 480px) {
    section#newsletter {
        display: none;
    }

    .col-6 {
        flex: auto;
        max-width: 90%
    }

    .col-2 {
        flex: auto;
        max-width: 50%
    }

    .banner {
        height: 220px
    }

    .banner img {
        width: 100%;
        height: 220px;
    }

    h2 {
        font-size: 1.3rem;
    }

    .carousel {
        height: 480px;
    }

    .carousel-inner {
        height: 100%;
    }

    .hidden {
        visibility: hidden;
    }

    .card-img-top {
        width: 100%;
        margin: 5px auto;
    }
}

;