.banner {
    height: 450px;
    opacity: 0.9;
}

.banner div {
    box-shadow: 1px 2px 5px -2px rgba(0, 0, 0, 0.30);
}

.banner:hover {
    transform: scale(1.01);
    transition: ease-out 0.3s transform;
    opacity: 1;
}

.banner img {
    width: 100%;
    height: 448px;
}

.btn-adocao {
    position: absolute;
    font-size: 1.5rem;
    width: 8rem;
    margin-top: 4rem;
    margin-left: -11rem;
}

.btn-loja {
    position: absolute;
    font-size: 1.5rem;
    width: 8rem;
    margin-top: 22rem;
    margin-left: -28rem;
}


.card {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.30);
}

.carousel {
    display: flex;
}

.carousel-control-prev {
    height: 50px;
    width: 50px;
    border-radius: 30rem;
    align-self: center;
    top: auto;
    bottom: auto;
}

.carousel-control-next {
    height: 50px;
    width: 50px;
    border-radius: 30rem;
    align-self: center;
    top: auto;
    bottom: auto;
}

div#carouselExampleControls2 {
    margin-bottom: 50px;
}

h2 {
    padding: 20px;
}

.card-img-top {
    width: 100%;
    margin: 0;
}

@media (max-width: 1196px) {
    .btn-adocao {
        position: absolute;
        font-size: 1.5rem;
        width: 8rem;
        margin-top: 4rem;
        margin-left: -11rem;
    }

    .btn-loja {
        position: absolute;
        font-size: 1.5rem;
        width: 8rem;
        margin-top: 22rem;
        margin-left: -25rem;
    }
}


@media (max-width: 1024px) {
    .banner {
        height: 350px
    }

    .banner img {
        width: 100%;
        height: 350px;
    }

    .btn-adocao {
        position: absolute;
        font-size: 1rem;
        width: 6rem;
        margin-top: 4rem;
        margin-left: -9rem;
    }

    .btn-loja {
        position: absolute;
        font-size: 1rem;
        width: 6rem;
        margin-top: 18rem;
        margin-left: -24rem;
    }
}

@media (max-width: 990px) {
    .btn-adocao {
        position: absolute;
        font-size: 1rem;
        width: 6rem;
        margin-top: 4rem;
        margin-left: -7rem;
    }

    .btn-loja {
        position: absolute;
        font-size: 1rem;
        width: 6rem;
        margin-top: 18rem;
        margin-left: -18rem;
    }
}

@media (max-width: 770px) {
    .col-2 {
        flex: auto;
        max-width: 50%
    }

    .banner {
        height: 280px
    }

    .banner img {
        width: 100%;
        height: 280px;
    }

    .btn-adocao {
        position: absolute;
        font-size: 0.8rem;
        width: 4rem;
        margin-top: 4rem;
        margin-left: -5rem;
    }

    .btn-loja {
        position: absolute;
        font-size: 0.8rem;
        width: 4rem;
        margin-top: 14rem;
        margin-left: -12rem;
    }

    h2 {
        font-size: 1.8rem;
    }

    .carousel {
        height: 350px;
    }

    .carousel-inner {
        height: 350px;
    }

    .hidden {
        visibility: hidden;
    }

    .card-img-top {
        width: 90%;
        margin: 5px auto;
    }
}

@media (max-width: 641px) {
    .btn-adocao {
        position: absolute;
        font-size: 0.8rem;
        width: 4rem;
        margin-top: 3rem;
        margin-left: -5rem;
    }

    .btn-loja {
        position: absolute;
        font-size: 0.8rem;
        width: 4rem;
        margin-top: 11rem;
        margin-left: -12rem;
    }

    .col-2 {
        flex: auto;
        max-width: 50%
    }

    .banner {
        height: 220px
    }

    .banner img {
        width: 100%;
        height: 220px;
    }

    h2 {
        font-size: 1.3rem;
    }

    .carousel {
        height: 320px;
    }

    .carousel-inner {
        height: 300px;
    }

    .hidden {
        visibility: hidden;
    }

    .card-img-top {
        width: 90%;
        margin: 5px auto;
    }
}
.row {
    margin-left: 5px;
    margin-right: 5px;
}
@media (max-width: 480px) {

    .btn-adocao {
        position: absolute;
        font-size: 0.8rem;
        width: 4rem;
        margin-top: 4rem;
        margin-left: -5rem;
    }

    .btn-loja {
        position: absolute;
        font-size: 0.8rem;
        width: 4rem;
        margin-top: 11.5rem;
        margin-left: -16rem;
    }

    .col-6 {
        flex: auto;
        max-width: 90%
    }

    .col-2 {
        flex: auto;
        max-width: 50%
    }

    .banner {
        height: 220px
    }

    .banner img {
        width: 100%;
        height: 220px;
    }

    h2 {
        font-size: 1.3rem;
    }

    .carousel {
        height: 450px;
    }

    .carousel-inner {
        height: 100%;
    }

    .hidden {
        visibility: hidden;
    }

    .card-img-top {
        width: 100%;
        margin: 5px auto;
    }
}

;