/* mt = margin top */
a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: #f2a0a0;
}

h1 {
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 17px;
}

.imgIcone {
    width: 30px;
    padding-right: 8px;
}

.divInfo {
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.30);
    padding: 20px 0px 15px 0px;
    margin-bottom: 50px;
}

#links {
    padding: 25px;
    border-right: grey solid 1px;
}

#iconeUser {
    font-size: 100px;
    color: #03658c;
}

#fotoUser {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#divFotoUser {
    text-align: center;
    padding: 0;
}

/* Hover na imagem do usuario */
#iconeUser:hover {
    text-decoration: none;
    color: #03658c;
}

.campo-info {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.campo-info p {
    padding: 5px;
    margin-bottom: 0;
}

.active,
li.active {
    color: #f2a0a0 !important;
}

.dropdown d-block {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown-toggle {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#perfil nav {
    margin-bottom: 20px;
}

.opcoes {
    font-size: 1.2em;
    background-color: white;

}

.active-option {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: #03658c;

}

.fa-chevron-down {
    color: #03658c;
}

.opcoes.navlink {
    font-size: 1em;

}

li.nav-item a {
    color: #03658c;
}

li.nav-item a i {
    width: 2rem;
    text-align: center;
}

#canvas {
    width: auto;
    height: 45vh;
    display: flex;
    justify-content: center;
}

.modal-dialog {
    max-width: 350px;
}

#canvas img {
    width: 100%;
}

div.row.container {
    margin: 0;
    padding: 0;
}

.campo-nome {
    padding: 0;
    margin: 0;
}
.campo-info div.col-md-12 {
   padding: 0;
   margin: 0; 
}