/* mt = margin top */
section#perfil {
    margin-top: 175px; /* 125 + 50 */
    margin: 175px auto;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: #03658c;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 17px;
}

.imgIcone {
    width: 30px;
    padding-right: 8px;
}

.divInfo {
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.30);
    padding: 20px 0px 15px 0px;
    margin-bottom: 50px;
}

#links {
    padding: 25px;
    border-right: grey solid 1px;
}

#iconeUser {
    font-size: 100px;
    color: #03658c;
}

.active, li.active {
    color: #03658c;
}

/* Hover na imagem do usuario */
#iconeUser:hover {
    text-decoration: none;
    color: #03658c;
}

#fotoUser {
    text-align: center;
}

.campo-info {
    width: 100%;
    text-align: center;
}

.campo-info p {
    padding: 5px;
    margin-bottom: 0;
}

#links i{
    padding: 5px;
}

.dropdown d-block {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dropdown-toggle {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

#perfil nav {
    margin-bottom: 20px;
}

.opcoes {
    font-size: 1.5em;
}

.active-option{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.opcoes.navlink {
    font-size: 1em;
}