@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;700&display=swap');

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #03658C !important;
  opacity: 0.8 !important;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #03658C !important;
  opacity: 0.8 !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #03658C !important;
  opacity: 0.8 !important;
}

select {
  color: #03658C !important;
  opacity: 0.8 !important;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
  background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
  background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
  background-repeat: no-repeat;
}

select option {
  color: #03658C !important;
  opacity: 0.8 !important;
}

* {
  box-sizing: border-box;
}

html, body {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Baloo 2', cursive;
  background-color: #f1f1f1;
  overflow-y:scroll;
  position: initial;
  padding-bottom: 200px;
}

h3 {
  text-transform: uppercase;
  color: #03658C ;
  text-align: center;
}

textarea {
  resize: none;
}

section.first {
  margin-top: 135px;
}

section#register div.row div {
  display: inline-flex;
  margin: 2px;
  align-items: center;
}
.bg-blue {
  background-color: #03658C;
}

.arrow{
  font-size: 2em;
}

.text-blue {
  color: #03658C;
}

.fa-star {
  color: gold !important;
}

.text-pink {
  color: #f2a0a0;
}

.btn-site{
  background-color: #f2a0a0;
  color:white;
  border-radius: 2rem;
}

.btn-site:hover{
  background-color: #03658C;
  color:white;
  border-radius: 2rem;
}


section#newsletter .container {
  border-radius: 30rem;
  background-color: #f2a0a0;
}

.divCart {
  display: flex;
  position: relative;
}

.divCart span{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1rem;
}

section#register .container {
  border-radius: 30rem;
  background-color: #03658C;
  display: flex;
  justify-content: center;
}

section#register .container .row{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}




/* Inicio Header */

.navbar-brand {
  font-size: 2.5rem;
}

.navbar {
  padding: 0;
}

/* @media (max-width: 576px){
  .container {
    width: 95%;
  }
} */

/* header .nav-link:hover {
  text-shadow: 1px 1px 10px white;
  border-bottom: 2px solid #f2a0a0;
}

header .nav-link.active {
  text-shadow: 1px 1px 10px white;
  border-bottom: 5px solid #f2a0a0;
} */

.icon__link {
  text-align: center;
  font-size: 30px;
  width: 50px;
  padding-right: 8px;
}

.nav__link {
  display: flex;
  align-items: center;
}

.dropdown-item:hover {
 background-color: #f2a0a0;
 color: white;
}

.input-decoration {
  border: 1px solid #03658C !important;
  border-radius: 1.25rem !important;
}

header .nav-link:hover {
  background-color:  #f2a0a0;
}

header .nav-link.active {
  background-color:  #f2a0a0;
}

.search-group {
  border: 1px solid #03658C;
  border-radius: 2rem;
}
.search-group #search-button {
  outline: none !important;
  box-shadow: none !important;
  background-color: transparent; 
}
.search-group #search {
  border: 0;
  background-color: transparent; 
  outline: none !important;
  box-shadow: none !important;
}

.profile-picture {
  border-radius: 2rem;
}

.card:hover {
  -webkit-box-shadow: 0px 4px 10px 5px rgba(171,171,171,1);
  -moz-box-shadow: 0px 4px 10px 5px rgba(171,171,171,1);
  box-shadow: 0px 4px 10px 5px rgba(171,171,171,1);
}

.shopping-cart {
  font-size: 35px !important;
}

@media (max-width: 575px) {
  * {
    outline: none !important;
    box-shadow: none !important;
  }
  .search-group {
    margin-bottom: 0.5rem !important;
  }
  section.first {
    margin-top: 175px;
  }
}

@media (max-width: 767px) {
  .search-group {
    width: 90%;
    margin: 0 auto;
  }

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  body {
    padding-bottom: 70px;
  }

  footer .desktop{
    display: none;
  }
}

@media (min-width: 768px){
  footer .mobile{
    display: none;
  }
}

/* Fim Header */

/* Inicio Footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #f1f1f1;
}

.rowFooter {
  margin-top: 10px;
  margin-bottom: 20px;
}

footer h5 {
  font-size: 16px;
}

footer a {
  font-size: 14px;
  color: #f1f1f1;
  list-style: none;
}

#textoLogo {
  font-size: 22px;
}

footer a:hover {
  color: #f1f1f1;
}

/* Fim Footer */
